<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="container-fluid" id="XS">
		 <iframe src="../res/cloth/index.html" width="500px" height="400px"></iframe>
<!-- 	<div class="row"> -->
<!-- 		<div class="col-xs-12"> -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>
<footer>footer</footer>
</body>
<script>
// 重命名 Electron 提供的 require
window.nodeRequire = require;
delete window.require;
delete window.exports;
delete window.module;
</script>
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
</html>