<html>
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../styles/main.css">
<link rel="stylesheet" type="text/css" href="../styles/pics-css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../styles/pics-css/demo.css" />
        <link rel="stylesheet" type="text/css" href="../styles/pics-css/component.css" />
        <link rel="stylesheet" type="text/css" href="../styles/pics-css/fxtransparent.css" />
        <style type="text/css">
            .pic{
                width:500px;
                height: 500px;
            }

        </style>
        <script src="../scripts/pics/modernizr.custom.js"></script>
</head>
<body>
    <div class="container">
            <header class="codrops-header">
                <nav class="codrops-demos">
                    <a href="index.html">Small Component</a>
                    <a href="index2.html">Full Width</a>
                    <a class="current-demo" href="index3.html">Transparent</a>
                </nav>
            </header>
            <section>
                <div class="custom-select">
                    <select id="fxselect" name="fxselect">
                        <option value="-1" >选择一种效果...</option>
                        <option value="fxSlideForward">Slide forward</option>
                        <option value="fxTableDrop">Table Drop</option>
                        <option value="fxSlideIt" selected="true">Slide it</option>
                        <option value="fxBottleKick">Bottle kick</option>
                        <option value="fxShelf">Off the Shelf</option>
                    </select>
                </div>
                <div id="component" class="component component-transparent">
                    <ul class="itemwrap">
                        <li class="current"><img class="pic" src="../res/images/0.png" alt="img09"/></li>
						<li><img class="pic" src="../res/images/1.png"/></li>
<li><img class="pic" src="../res/images/2.png"/></li>
<li><img class="pic" src="../res/images/3.png"/></li>
<li><img class="pic" src="../res/images/4.png"/></li>
<li><img class="pic" src="../res/images/5.png"/></li>
<li><img class="pic" src="../res/images/6.png"/></li>
<li><img class="pic" src="../res/images/7.png"/></li>
<li><img class="pic" src="../res/images/8.png"/></li>
<li><img class="pic" src="../res/images/9.png"/></li>
<li><img class="pic" src="../res/images/10.png"/></li>
<li><img class="pic" src="../res/images/11.png"/></li>
<li><img class="pic" src="../res/images/12.png"/></li>
<li><img class="pic" src="../res/images/13.png"/></li>
<li><img class="pic" src="../res/images/14.png"/></li>
<li><img class="pic" src="../res/images/15.png"/></li>
<li><img class="pic" src="../res/images/16.png"/></li>
<li><img class="pic" src="../res/images/17.png"/></li>
<li><img class="pic" src="../res/images/18.png"/></li>
<li><img class="pic" src="../res/images/19.png"/></li>
<li><img class="pic" src="../res/images/20.png"/></li>
<li><img class="pic" src="../res/images/21.png"/></li>
<li><img class="pic" src="../res/images/22.png"/></li>
<li><img class="pic" src="../res/images/23.png"/></li>
<li><img class="pic" src="../res/images/24.png"/></li>
<li><img class="pic" src="../res/images/25.png"/></li>
<li><img class="pic" src="../res/images/26.png"/></li>
<li><img class="pic" src="../res/images/27.png"/></li>
<li><img class="pic" src="../res/images/28.png"/></li>
<li><img class="pic" src="../res/images/29.png"/></li>
<li><img class="pic" src="../res/images/30.png"/></li>
<li><img class="pic" src="../res/images/31.png"/></li>
<li><img class="pic" src="../res/images/32.png"/></li>
<li><img class="pic" src="../res/images/33.png"/></li>
<li><img class="pic" src="../res/images/34.png"/></li>
<li><img class="pic" src="../res/images/35.png"/></li>
<li><img class="pic" src="../res/images/36.png"/></li>
<li><img class="pic" src="../res/images/37.png"/></li>
<li><img class="pic" src="../res/images/38.png"/></li>
<li><img class="pic" src="../res/images/39.png"/></li>
<li><img class="pic" src="../res/images/40.png"/></li>
<li><img class="pic" src="../res/images/41.png"/></li>
<li><img class="pic" src="../res/images/42.png"/></li>
<li><img class="pic" src="../res/images/43.png"/></li>
<li><img class="pic" src="../res/images/44.png"/></li>
<li><img class="pic" src="../res/images/45.png"/></li>
<li><img class="pic" src="../res/images/46.png"/></li>
<li><img class="pic" src="../res/images/47.png"/></li>
<li><img class="pic" src="../res/images/48.png"/></li>
<li><img class="pic" src="../res/images/49.png"/></li>
<li><img class="pic" src="../res/images/50.png"/></li>
<li><img class="pic" src="../res/images/51.png"/></li>
<li><img class="pic" src="../res/images/52.png"/></li>
<li><img class="pic" src="../res/images/53.png"/></li>
<li><img class="pic" src="../res/images/54.png"/></li>
<li><img class="pic" src="../res/images/55.png"/></li>
<li><img class="pic" src="../res/images/56.png"/></li>
<li><img class="pic" src="../res/images/57.png"/></li>
<li><img class="pic" src="../res/images/58.png"/></li>
<li><img class="pic" src="../res/images/59.png"/></li>
<li><img class="pic" src="../res/images/60.png"/></li>
<li><img class="pic" src="../res/images/61.png"/></li>
<li><img class="pic" src="../res/images/62.png"/></li>
<li><img class="pic" src="../res/images/63.png"/></li>
<li><img class="pic" src="../res/images/64.png"/></li>
<li><img class="pic" src="../res/images/65.png"/></li>
<li><img class="pic" src="../res/images/66.png"/></li>
<li><img class="pic" src="../res/images/67.png"/></li>
<li><img class="pic" src="../res/images/68.png"/></li>
<li><img class="pic" src="../res/images/69.png"/></li>
<li><img class="pic" src="../res/images/70.png"/></li>
<li><img class="pic" src="../res/images/71.png"/></li>
<li><img class="pic" src="../res/images/72.png"/></li>
<li><img class="pic" src="../res/images/73.png"/></li>
<li><img class="pic" src="../res/images/74.png"/></li>
<li><img class="pic" src="../res/images/75.png"/></li>
<li><img class="pic" src="../res/images/76.png"/></li>
<li><img class="pic" src="../res/images/77.png"/></li>
<li><img class="pic" src="../res/images/78.png"/></li>
<li><img class="pic" src="../res/images/79.png"/></li>
<li><img class="pic" src="../res/images/80.png"/></li>
<li><img class="pic" src="../res/images/81.png"/></li>
<li><img class="pic" src="../res/images/82.png"/></li>
<li><img class="pic" src="../res/images/83.png"/></li>
<li><img class="pic" src="../res/images/84.png"/></li>
<li><img class="pic" src="../res/images/85.png"/></li>
<li><img class="pic" src="../res/images/86.png"/></li>
<li><img class="pic" src="../res/images/87.png"/></li>
<li><img class="pic" src="../res/images/88.png"/></li>
<li><img class="pic" src="../res/images/89.png"/></li>
<li><img class="pic" src="../res/images/90.png"/></li>
<li><img class="pic" src="../res/images/91.png"/></li>
<li><img class="pic" src="../res/images/92.png"/></li>
<li><img class="pic" src="../res/images/93.png"/></li>
<li><img class="pic" src="../res/images/94.png"/></li>
<li><img class="pic" src="../res/images/95.png"/></li>
<li><img class="pic" src="../res/images/96.png"/></li>
<li><img class="pic" src="../res/images/97.png"/></li>
<li><img class="pic" src="../res/images/98.png"/></li>
<li><img class="pic" src="../res/images/99.png"/></li>
<li><img class="pic" src="../res/images/100.png"/></li>

						
                    </ul>
                    <nav>
                        <a class="prev" href="#">Previous item</a>
                        <a class="next" href="#">Next item</a>
                    </nav>
                </div>
            </section>
        </div><!-- /container -->
</body>
<script>
// 重命名 Electron 提供的 require
window.nodeRequire = require;
delete window.require;
delete window.exports;
delete window.module;
</script>
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../scripts/pics/classie.js"></script>
        <script src="../scripts/pics/main.js"></script>
</html>